/*Base*/

* {
	box-sizing: border-box;
	color: #CCCCCC;
}

body {
	background-color: #272727;
}

.coloumn-container{
	margin: 35px;
}

.cl-left{
	margin: 10px;
}

/*Base*/

/*Left side*/

.left-container{
	float: left;
	max-width: 20%;
}

.logo{
	width: 100%;
}

/*Left side*/

/*center*/

.center-container{
	float: left;
	max-width: 60%;
}

.nav {
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #C1AD38;
  border-radius: 5px;
  max-width: 100%;
  text-align: center;
}

.nav-items {

  background-color: #C1AD38;
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.nav-items li {
  background-color: #C1AD38;
  display: table-cell;
  border-radius: 5px;
}
.nav-items li:hover {
  background-color: #0066B1;
}

.nav-items li a {
  color: white;	
  padding: 5px;
  display: block;
  text-decoration: none;
}

.slider{
	margin: 0 auto;
	margin-bottom: 10px;
}
.slider img {
	width: 100%;
}

.main-content{
	display: flex;
	background-color: #2E2E2E;
	border-radius: 5px;
}

.content{
	flex: 3;
}
/*Center*/

/*Right SIde*/

.right-container{
	float: right;
	max-width: 20%;
}

/*Right side*/