/*Base*/

* {
	box-sizing: border-box;
	color: #CCCCCC;
}

body {
	background: url(bg_01.jpg) repeat center center;
}

.coloumn-container{
	margin-top: 40px;
	margin-right: 50px;
	margin-left: 50px;
}

/*Base*/

/*center*/

.center-container{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	background-color: #323232;
}

.logo{
	overflow: visible;
	float: left;
	max-width: 30%;
	margin-left: 5%;
}

.logo img{
	max-width: 100%;
}

.nav {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  padding-top: 25px;
}

.nav-items {
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 30px;
  margin-left: 33%;
  width: 60%;

}

.nav-items li {
  display: table-cell;
  border-radius: 5px;
}
.nav-items li:hover {
  background-color: #0066B1;
}

.nav-items li a {
  color: white;	
  padding: 5px;
  display: block;
  text-decoration: none;
}

.slider{
	margin: 25px;
	margin-bottom: 10px;
}
.slider img {
	width: 100%;
}

.main-content{
	display: flex;
	background-color: #212121;
}

.content{
	flex: 3;
	margin: 0;
	padding: 40px;
}
/*Center*/

/*Services*/

.services{
	text-align: center;
}

.services h2{
	display: inline-block;
	color: white;
	border-bottom: 2px solid #0066B1;
	margin-bottom: 0;
}


.services h4{
	color: #777777;
	font-weight: lighter;
}

.service-container{
	display: inline-block;
	max-width: 24%;
}

.service-container:hover{
	background-color: #0066B1;
}


.service-container h3{
	color: white;
}

.service-container p{
	text-align: left;
	font-size: 14px;
}
/*Services*/